:root {
    --boardWidth: 74%;
    --tokenBoxHeight: 28%;
    --tokenBoxWidth: 46%;
    --tokenBoxTop: 62%;
}
body {
    height: 100vh;
    margin: 0;
}
main {
    height: 100%;
    flex-flow: row nowrap;
    align-items: center;
}

#player3Proficiency, #player4Proficiency {
    display: none;
}

#gameBoardContainer, #playerBoardContainer {
    position: relative;
}
#gameBoardContainer {
    height: 100%;
    width: var(--boardWidth);
}
#gameBoard {
    max-height: 100%;
    width: 100%;
}

#playerContainer {
    width: calc(100% - var(--boardWidth));
}
#playerCharacter, #playerProficiency {
    width: 50%;
}

#playerBoard {
    width: 100%;
}
#healthTracker {
    height: 20%;
    position: absolute;
    top: 12%;
    left: 2%;
}
#attackTokens, #influenceTokens {
    height: var(--tokenBoxHeight);
    width: var(--tokenBoxWidth);
    position: absolute;
    top: var(--tokenBoxTop);
    display: flex;
    flex-flow: row wrap;
}
#attackTokens {
    left: 3%;    
}
#influenceTokens {
    left: 50%;
}
.attackToken, .influenceToken {
    height: 50%;
}