:root {
    --backgroundColor: white;
    --playerChoiceLabelSize: 10vh;
    --playerChoiceDisplay: flex;
    --revealBoardDisplay: block;
    --revealBoardButtonHeight: 10%;
    --shopCardHeight: 20%;
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
main {
    height: 100%;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    background-color: var(--backgroundColor);
}

h1 {
    text-align: center;
}
#gameChoice, .playerChoice, .proficiencyChoice, .charmChoice {
    display: flex;
    flex-flow: row nowrap;
    max-width: 100%;
    overflow-x: scroll;
    scrollbar-width: none;
    height: calc(50vh + 3em);
}
.proficiencyChoice, .charmChoice {
    display: none;
}
input[type="radio"] {
    display: none;
}
figure {
    display: inline;
    text-align: center;
}
label img {
    max-height: 40vh;
    max-width: 60vw;
    transition: max-height, 1s;
}
input[type="radio"]:checked + label img {
    max-height: 50vh;
    max-width: 75vw;
    transition: max-height, 1s;
}
.patronus {
    display: none;
}
input[type="submit"] {
    width: 100%;
    height: 20vh;
    font-size: 10vh;
}

.boxOnly, .packOnly {
    display: none;
}

#gameBoardContainer, #potionsCupboardContainer, .playerBoardContainer {
    position: relative;
}
#gameBoardContainer {
    aspect-ratio: 1280 / 853;
    height: 100%;
}
#gameBoard {
    height: 100%;
    width: 100%;
}

#locations, #darkArtsEvents {
    height: 18%;
    position: absolute;
    top: 16%;
}
#locations, #villainDraw, #villain1 {
    left: 5%;
}
#locations {
    width: 16.5%;
}
.location, .darkArtsEvent, #darkArtsEventBack, .villain, .event {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.locationToken {
    position: absolute;
    height: 16%;
}

#darkArtsEvents {
    left: 31%;
    width: 29%;
    z-index: 1;
}
#darkArtsEvents.display {
    display: flex;
    flex-flow: row nowrap;
}
.darkArtsEvent {
    transform: rotateY(180deg) translateX(0);
    opacity: 0;
    transition: transform 1s, opacity 1s;
}
.darkArtsEvent.flipped {
    --translate: 138%;
    opacity: 1;
    transform: rotateY(0) translateX(var(--translate));
    animation: flip 1s;
}
@keyframes flip {
    from {
        opacity: 0;
        transform: rotateY(180deg) translateX(0);
    }
    to {
        opacity: 1;
        transform: rotateY(0) translateX(var(--translate));
    }
}
.darkArtsEvent.display {
    position: static;
    transform: translateX(0);
}
.darkArtsEvent.fadeOut {
    animation: fadeOut 1s;
}
@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

#villainDraw, #encounters, #villainDiscard {
    height: 17%;
    position: absolute;
    top: 39%;
}

#encounters {
    left: 27%;
    width: 12%;
}
.symbol {
    position: absolute;
    top: 62%;
    height: 12%;
}

#villainDiscard {
    left: 46%;
}

.activeVillain {
    height: 17%;
    position: absolute;
    top: 64%;
}
#villain2 {
    left: 25%;
}
#villain3 {
    left: 46%;
}
.villain {
    z-index: 0;
}
.petrifiedToken, .harpToken {
    --height: 80%;
    z-index: 1;
    height: var(--height);
    position: absolute;
    top: calc((100% - var(--height)) / 2);
    transform: translateX(calc(115% - var(--height)));
}

.villainDamage {
    position: absolute;
    top: 82%;
    height: 10%;
    width: 17%;
    display: flex;
    flex-flow: row wrap;
}
#villain1Damage {
    left: 5%;
}
#villain2Damage {
    left: 25%;
}
#villain3Damage {
    left: 46%;
}

.villain.defeating, .locationToken.removing {
    opacity: 0;

    /* https://stackoverflow.com/questions/11679567/using-css-for-a-fade-in-effect-on-page-load */
    -webkit-animation: fadeOut 1s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadeOut 1s; /* Firefox < 16 */
        -ms-animation: fadeOut 1s; /* Internet Explorer */
         -o-animation: fadeOut 1s; /* Opera < 12.1 */
            animation: fadeOut 1s;
}
@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
/* Firefox < 16 */
@-moz-keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
/* Safari, Chrome, and Opera > 12.1 */
@-webkit-keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
/* Internet Explorer */
@-ms-keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
/* Opera < 12.1 */
@-o-keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
.villain.defeated, .locationToken.adding {
    opacity: 1;

    /* https://stackoverflow.com/questions/11679567/using-css-for-a-fade-in-effect-on-page-load */
    -webkit-animation: fadeIn 1s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadeIn 1s; /* Firefox < 16 */
        -ms-animation: fadeIn 1s; /* Internet Explorer */
         -o-animation: fadeIn 1s; /* Opera < 12.1 */
            animation: fadeIn 1s;
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
/* Firefox < 16 */
@-moz-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
/* Safari, Chrome, and Opera > 12.1 */
@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
/* Internet Explorer */
@-ms-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
/* Opera < 12.1 */
@-o-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.shop, #hogwartsCardBack {
    height: var(--shopCardHeight);
    position: absolute;
}
#shop1, #shop2 {
    top: 26%;
}
#shop3, #shop4 {
    top: 50%;
}
#shop5, #shop6 {
    top: 74%;
}
#shop1, #shop3, #shop5 {
    left: 68%;
}
#shop2, #shop4, #shop6 {
    left: 84%;
}
.shop img, #hogwartsCardBack img, #potionsCupboard, #potionDraw img, #potionList img, #potion1 img, #potion2 img, .ingredient {
    height: 100%;
    width: 100%;
}
#hogwartsCardBack {
    top: 4%;
    left: 76%;
}

#potionsCupboardContainer {
    aspect-ratio: 1100 / 3395;
    height: 100%;
}
#potionDraw {
    height: var(--shopCardHeight);
    position: absolute;
    top: 6%;
    left: 5%;
}
#ingredientsPile, #ingredientDiscard {
    position: absolute;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    overflow-y: auto;
}
#ingredientsPile {
    height: var(--shopCardHeight);
    width: 40%;
    top: 6%;
    left: 54%;
}
#ingredientsPile img {
    height: 22%;
}
#potionList {
    height: 32%;
    position: absolute;
    top: 28%;
    left: 1%;
}
.ingredientsRow1, .ingredientsRow2, .ingredientsRow3, .ingredientsRow4, .ingredientsRow5, .potionIngredient {
    height: 4.5%;
    position: absolute;
}
.ingredientsRow1 {
    top: 28.2%;
}
.ingredientsRow2 {
    top: 34.5%;
}
.ingredientsRow3 {
    top: 40.7%;
}
.ingredientsRow4 {
    top: 46.7%;
}
.ingredientsRow5 {
    top: 53%;
}
.ingredientsCol1, .ingredientsCol2 {
    position: absolute;
}
.ingredientsCol1 {
    left: 59%;
}
.ingredientsCol2 {
    left: 75%;
}
#potion1, #potion2 {
    position: absolute;
    top: 62%;
    height: var(--shopCardHeight);
}
#potion1 {
    left: 3%;
}
#potion2 {
    left: 52%;
}
.potionIngredient {
    position: absolute;
    top: 83%;
}
#potion1Ingredient1 {
    left: 4%;
}
#potion1Ingredient2 {
    left: 19%;
}
#potion1Ingredient3 {
    left: 34%;
}
#potion2Ingredient1 {
    left: 51%;
}
#potion2Ingredient2 {
    left: 66%;
}
#potion2Ingredient3 {
    left: 81%;
}
#ingredientDiscard {
    top: 90%;
    left: 4%;
    height: 7%;
    width: 91%;
}
#ingredientDiscard img {
    height: 65%;
}

#playersContainer {
    height: 100%;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    overflow-y: auto;
}
.heroImage {
    width: 100%;
}
.playerHero, .playerProficiency {
    width: 50%;
}
.playerCharm {
    width: 100%;
}

.horcruxesDestroyed {
    display: flex;
    width: 100%;
}
.horcruxesDestroyed img {
    width: calc(100% / 6);
}

.playerBoard {
    width: 100%;
}
.healthTracker {
    height: 20%;
    position: absolute;
    top: 12%;
    left: 2%;
    transition: top 1s, left 1s;
}
.attackTokens, .influenceTokens {
    height: 28%;
    width: 46%;
    position: absolute;
    top: 62%;
    display: flex;
    flex-flow: row wrap;
}
.attackTokens {
    left: 3%;
}
.influenceTokens {
    left: 50%;
}
.attackToken, .influenceToken {
    height: 50%;
}

.playerHand {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
}
.card {
    width: 20%;
}

#playersContainer input[type="button"] {
    margin: 1em;
}

#playerChoiceContainer {
    display: var(--playerChoiceDisplay);
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    height: calc(100% - var(--revealBoardButtonHeight));
    width: 100vw;
    z-index: 2;
}
#playerChoiceLabel {
    background-color: var(--backgroundColor);
    text-align: center;
    width: fit-content;
    margin: 0;
    font-size: var(--playerChoiceLabelSize);
}
#playerChoice {
    height: 0;
    width: 100%;
    flex-grow: 1;
    display: grid;
    grid-template-rows: 100%;
    background-color: black;
    gap: 10px; /* needs to be even */
}
.choice {
    background-color: var(--backgroundColor);
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}
.choice img {
    max-height: calc(100% - 4em);
    max-width: 100%;
}
.choiceContainer {
    height: 100%;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#playerChoiceContainer.revealBoard {
    display: none;
}
#revealBoard {
    box-sizing: border-box;
    height: var(--revealBoardButtonHeight);
    width: 100%;
    font-size: 200%;
    position: fixed;
    bottom: 0;
    display: var(--revealBoardDisplay);
}

#disableScreen {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 3;
}

.magnifyContainer {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100vw;
    z-index: 99;
    display: flex;
    justify-content: center;
    align-items: center;
}
.magnifyContainer img {
    all: unset;
    max-height: 100%;
    max-width: 100%;
}

/* https://codepen.io/collinsworth/pen/zYepgqG */
/* The secret sauce that enables gradient rotation. NOTE: does not work in all browsers. https://caniuse.com/?search=%40property */
@property --border-angle-1 {
	syntax: "<angle>";
	inherits: true;
	initial-value: 0deg;
}
@property --border-angle-2 {
	syntax: "<angle>";
	inherits: true;
	initial-value: 90deg;
}
@property --border-angle-3 {
	syntax: "<angle>";
	inherits: true;
	initial-value: 180deg;
}
/* sRGB color. */
:root {
	--ravenclaw-blue: rgb(0, 0, 255);
	--slytherin-green: rgb(0, 255, 0);
	--gryffindor-red: rgb(255, 0, 0);
}
/* Display-P3 color, when supported. */
@supports (color: color(display-p3 1 1 1)) {
	:root {
		--ravenclaw-blue: color(display-p3 0 0.2 1);
		--slytherin-green: color(display-p3 0.4 1 0);
		--gryffindor-red: color(display-p3 1 0 0);
	}
}
@keyframes rotateBackground {
	to { --border-angle-1: 360deg; }
}
@keyframes rotateBackground2 {
	to { --border-angle-2: -270deg; }
}
@keyframes rotateBackground3 {
	to { --border-angle-3: 540deg; }
}
.shimmer {
	--border-angle-1: 0deg;
	--border-angle-2: 90deg;
	--border-angle-3: 180deg;
	border: 0;
    border-radius: 100%;
    transform: translate(-.5px, -1.5px);
	padding: 1px;
	width: max-content;
	border-color: transparent;
    background-color: yellow;
	background-image: conic-gradient(
			from var(--border-angle-1) at 10% 15%,
			transparent,
			var(--ravenclaw-blue) 10%,
			transparent 30%,
			transparent
		),
		conic-gradient(
			from var(--border-angle-2) at 70% 60%,
			transparent,
			var(--slytherin-green) 10%,
			transparent 60%,
			transparent
		),
		conic-gradient(
			from var(--border-angle-3) at 50% 20%,
			transparent,
			var(--gryffindor-red) 10%,
			transparent 50%,
			transparent
		);
	animation: 
		rotateBackground 3s linear infinite,
		rotateBackground2 8s linear infinite,
		rotateBackground3 13s linear infinite;
}

@keyframes darken {
    0% {
        filter: brightness(1);
    }
    50% {
        filter: brightness(.5);
    }
    100% {
        filter: brightness(1);
    }
}

@media (orientation: portrait) {
    main {
        height: auto;
        width: 100%;
        flex-direction: column;
    }
    #playersContainer {
        grid-template-columns: auto;
    }
}
